.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
}

.main--left {
  width: 50%;
  height: 100%;
  background: #fff;
}

.main--right {
  width: 50%;
  height: 100%;
  background: #FEF899;
}

.main-btns {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.main-btns--group {
  border: 1px solid #000;
  border-radius: 30px;
  padding: .4rem;
  text-align: center;
  cursor: pointer;
}

.main-btns--group:hover {
  transform: scale(1.1);
}

.headline-name {
  font-size: 4rem;
  padding-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.headline-desc {
  width: 80%;
  padding-left: 1.5rem;
  margin-top: 0;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.5rem;
}

.main--right .headline-name {
  font-size: 3rem;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}



